
body{
  /* text-align: center;
  overflow: hidden; */
  background-image: url("https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.contenedor{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  width: 600px;
  position: absolute;
  left:10%;
  top: 100px;
  padding: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.5);

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px
}

.contenedor a{
  display: inline-block;
  background-color: #DB3030;
  text-decoration: none;
  font-weight: bold;
  color: white;
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px
}

@media (max-width: 700px) {

  .contenedor{
    width:80%;
    margin: auto;
  }

  body{

  }
}
